html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
body {
    margin: 0; 
}

body {
    color: #272727;
    background-color: #fcf9fa;
    text-align: center; 
}
  
.container {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: 80px;
    box-sizing: border-box; 
}
  
.card {
    text-align: center;
    border-radius: 6px;
    background-color: #fff;
    border: solid 2px #f0dce5;
    padding: 20px;
    margin-bottom: 24px; 
}

.card img {
      border-radius: 4px;
      margin-bottom: 2.25rem;
      cursor: pointer;
      width: 100%; 
}

.card p {
      font-size: 1.8rem;
      margin-bottom: 1rem;
}
  
label {
    color: black;
    font-size: 2rem;
    text-align: left; 
}